{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>梦想之旅</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="header">
        <div class="container">
            <h1>梦想之旅</h1>
            <h2>记录我每天的旅程经历</h2>
        </div>
    </div>
    <div class="nav">
        <div class="container">
            <a href="index.html">首页</a>
            <a href="about.html">关于我</a>
            <a href="contact.html">联系我</a>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <h3>想法</h3>
            <div class="duanluo">
                <div>
                    <p>2021年刚毕业一年，自己攒钱买了一辆豪爵DR150，记得提车那天回来的路上，遇见红灯就熄火，
                        后面的轿车司机喇叭催促，导致我更紧张，那天的窘境现在觉得好好笑！<br>
                        摩托车刚买没多久，非常兴奋，天天想骑，买了一个月，就计划着去环太湖，花了两天时间，顺时针环太湖，
                        从嘉兴出发，到湖州南浔，长兴，宜兴（第一次遭遇手机没电，前不着村，后不着店的地方，又饿又累，且乌云密布，感觉要下雨，
                        后面终于找到一家快餐店，那顿饭特别好吃，也充好了电），拈花湾（景色又美，路又好，弯路多，摩托在那里开太舒服了），
                        路过常州，晚上再无锡住了个旅馆，太湖周边的夜景真不错。第二天下雨了，但没办法不得不出发，即使有雨衣，我的鞋也湿了，非常不舒服，
                        我想着西山就不去了，反正以后有机会再来，直接回家吧，下雨骑行太遭罪了，但是从山上绕下来，雨停了，来到太湖边，我被路上的美景震撼了，
                        一咬牙，就去西山了，果然不虚此行，此次旅程最美丽的风景就是西山，第一次来到这，我骑着摩托有时50多码欣赏景色，有时也可以100码刺激下灵魂，
                        西山真的很美，最后晚上到达了家。<br>从骑上摩托车开始我就体验到了我从未有过的感觉，那是自由的味道。拥有摩托车后，我的活动半径变大了很多，
                        经常跟着摩友，周末或者晚上组队出去溜达，嘉兴周围不错的地方基本都去了，苏州西山，东山，太湖，湖州，安吉，杭州千岛湖，钱塘江等等。</p>
                    
                    <p>两年后，我工作厌烦了，刚好劳动合同也到期，摩旅经验也积累了不少，一切时机成熟，我觉得我终于可以来趟洒脱的旅行了。
                        于是开始购置和测试装备，改装车，训练身体，制定行程...
                    </p>
                </div>
            </div>
            <div class="duanluo">
                <div class="img">
                    <img src="{% static 'picture/start.JPG' %}" alt="出发">
                </div>
                <div class="text">
                    <p class="note">2023年7月18日</p>
                    <p>我出发了，前一天晚上收拾好所有装备，然后激动的睡不着，很晚才睡，第二天中午才醒，和我妹妹吃完中饭，我出发了。</p>
                </div>
            </div>
            <div class="duanluo">
                <div class="text">
                    <p>第一天下午到达湖州318国道郑家村公路服务站，这条公路就是著名的国道G318，不要以为318是川藏线，川藏线只是318的一段，这个服务区这是我第三次过来了，第一次是去皖浙天路，第二次是皖南川藏线，还有就是这次，
                    因为这个国道的服务区的条件太棒了，有桌子，椅子，厕所，充电，医药箱，热水，空调，自助售货柜，一应俱全，当晚就打了个地铺睡了一晚 。</p>
                </div>
                <div class="img">
                    <img src="{% static 'picture/318serivce.JPG' %}" alt="出发">
                </div>
            </div>
            <div class="duanluo">
                <div class="text"> 
                    <p class="note">7月19</p>
                    <p>第二天早上一早就出发，没睡好，忘记关窗有蚊子。正式进入安徽省宣城市，路过横山国家森林公园，去转了转，但是太热了，继续出发，中午到达敬亭山。
                        <br>因为小时候的那篇古诗，所以想来看一看，
                        有点后悔中午饭都没吃就去爬，水也没带，在山上后悔不已，不过风景确实很不错，我爬到山头一个铁塔的地方，然后前往下一个山头，结果看到还有个山头，翻过去又有个山头，我又饿又渴，体力也不行了，
                        而且是单行道，每当我以为翻过这个山头就有下山的路了，结果没有，最终艰难的回来了，下山猛灌一大口蜂蜜水。
                        <br>吃完饭继续出发，下午到达安徽芜湖南陵县，下起了暴雨，没处躲雨，今天也太累了，就住了一间旅馆休息。
                    </p>
                </div>
                <div class="img">
                    <img src="{% static 'picture/jtshan.JPG' %}" alt="出发">
                    <img src="{% static 'picture/poem.JPG' %}" alt="出发">
                </div>
            </div>
            <div class="duanluo">
                <div class="img">
                    <img src="{% static 'picture/wugong.JPG' %}" alt="出发" style="width:300px;height:auto"> 
                </div>
                <div class="text"> 
                    <p class="note">7月20日<br>
                    <p>早上收拾东西，发现内裤上一个大蜈蚣，吓我一跳，估计是前晚服务区洗了晾车上，然后爬上去的。</p>
                </div>
            </div>
            <div class="duanluo">
                <div class="img">
                    <img src="{% static 'picture/cizhouqy.JPG' %}" alt="出发">
                </div>
                <div class="text">
                    <p>继续出发，经过池州，雨后青阳，烟雨朦胧，虽然下雨骑车很不舒服，但是这幅景色太美了</p>
                </div>
            </div>
            <div class="duanluo">
                <div class="text">
                    <p>中午到达安庆，开始轮渡长江，摩托车只要4块钱。上岸后真是太难受了，又热，红灯又长又多。</p>
                    <p>晚上到达潜山天柱山下，找到一个烂尾楼，出发第一次搭帐篷过了一晚，唉，真热。</p>
                </div>
                <div class="img">
                    <img src="{% static 'picture/ducj.JPG' %}" alt="出发">
                    <img src="{% static 'picture/tianzhushan.JPG' %}" alt="出发">
                </div>
            </div>
            <div class="duanluo">
                <div class="img">
                    <img src="{% static 'picture/3shuihou.JPG' %}" >
                    <img src="{% static 'picture/3rushan.JPG' %}" >
                </div>
                <div class="text">
                    <p class="note">7月21日</p>
                    <p>水吼镇，吃个早饭，开始进山，岳西大别山。山川秀丽，路非常棒，车也少，摩托在山里开才有乐趣啊！</p>
                </div>
                
            </div>
            <div class="duanluo">
                <div class="text">
                    <p>在山里见到一个旅游公厕，刚好下来歇息，越歇越想歇，就在这里洗了个澡，洗了下衣服，在这晾，结果后面下起小雨了，山里的天气真是风云突变，明明中午那会大太阳。</p>
                    <p>如果不是这山里太荒凉，周围没超市饭店啥的，我都想在这搭帐篷睡一晚，想想还是继续出发了</p>
                    <p>结果刚走不远，直接倾盆大雨，雨衣都没来的穿，直接浇的透心凉，找到一个小亭躲雨穿雨衣，看这雨一时半会停不了，只能在雨中继续骑了。
                        这大山里，雨一直下，我全身湿透，20米外就被雾全部遮挡，什么也看不见，山里盲弯还很多，路上第一次这么落魄。</p>
                    <p>不过嘛，路上景色确实美，只是一直下雨不好拍照</p>
                </div>
                <div class="img">
                    <img src="{% static 'picture/3toilet.JPG' %}" >
                    <img src="{% static 'picture/3rain.JPG' %}" >
                </div>
            </div>
            <div class="duanluo">
                <div class="img">
                    <img src="{% static 'picture/3666.JPG' %}" >
                    <img src="{% static 'picture/3friend.JPG' %}" style="width:300px;height:auto">
                </div>
                <div class="text">
                    <p>打卡G318的666里程路牌，走出大别山了，666。</p>
                    <p>正式进入湖北省，罗田英山，晚上在麻城和朋友喝酒</p>
                </div>
                
            </div>
            <div class="duanluo">
                <div class="text">
                    <p class="note">7月22日</p>
                    <p>今天出发比较晚，经过武汉，摩托车竟然可以上高速，市区又禁摩，想了想没去武汉，晚上在这个厕所旁边露营，靠近国道，真是难以入睡。</p>
                </div>
                <div class="img">
                    <img src="{% static 'picture/41000.JPG' %}" >
                    <img src="{% static 'picture/4wuhan.JPG' %}" >
                </div>
            </div>
            <div class="duanluo">
                <div class="img">
                    <img src="{% static 'picture/5gdm.JPG' %}" >
                    <img src="{% static 'picture/5cj.JPG' %}" >
                </div>
                <div class="text">
                    <p class="note">7月23日</p>
                    <p>今天出发经过仙桃，潜江，路过荆州我想去打卡那个关公雕像，没找到，去关帝庙打了个卡，走一走古城墙。</p>
                    <p>落日长江，真好看。</p>
                    <p>经过枝江，再次过长江，下了宜昌长江公路大桥，这时G318里程已经来到了1300，我想着找找1314的路牌然后再找地方休息，结果走着走着，前面修路，路牌断了，又进到大山里了。
                        这时天又黑，路又烂，大山里只能往前开，最后找到白氏坪村委会搭帐篷睡了一晚，这晚太难受了，睡着了都被热醒。
                    </p>
                </div>
                
            </div>
            <div class="duanluo">
                <div class="text">
                    <p class="note">7月24日</p>
                    <p>恩施长阳，这山也太大了，路非常好，景色怎么这么美啊！一路依山傍水，我都想跳河里去泡会了。
                        发现一个大号1314的路牌，虽然这路牌真实位置不对，但打个卡纪念下。
                    </p>
                </div>
                <div class="img">
                    <img src="{% static 'picture/6 (1).JPG' %}" >
                    <img src="{% static 'picture/6 (2).JPG' %}" >
                </div>
            </div>
            <div class="duanluo">
                <div class="img">
                    <img src="{% static 'picture/6 (3).JPG' %}" >
                    <img src="{% static 'picture/6 (4).JPG' %}" >
                </div>
                <div class="text">
                    <p>这山里的路，落差也太大了，全是弯，我就喜欢这样的路，还有个十几公里超长下坡，真是刺激啊！</p>
                    <p>下午遇见两个，也是骑友，一个是电单车，一个是自行车，太牛逼了，这么多落差的山路，怎么骑过来的啊！</p>
                    <p>晚上到建始一起喝会酒吃饭，就约好明天去恩施大峡谷</p>
                </div>
               
            </div>
            <div class="duanluo">
                <div class="text">
                    <p class="note">7月25日</p>
                    <p>早上又下雨，山里就是雾蒙蒙。路过清江时想起一句诗：清江一曲抱村流，长夏江村事事幽。</p>
                    <p>山里的雾，邪乎，前一分钟还能看见大山，一分钟后全是雾蒙蒙一片。整个隧道的出口被白雾包裹，把我吓坏了！</p>
                    <p>这的风景真的超级美，不用延时，都能拍出雾将大山遮盖，再缓慢露出的效果。</p>
                </div>
                <div class="img">
                    <img src="{% static 'picture/7.JPG' %}" >
                    <img src="{% static 'picture/72.JPG' %}" >
                </div>
            </div>
            <div class="duanluo">
                <div class="text">
                
                </div>
                <div class="img">
                
                </div>
            </div>
        </div>
    </div>
    <div class="next-page">
        <a href="{% url 'page2' %}" class="button">下一页</a>
    </div>
    <div class="footer">
        <div class="container">
            <p>版权所有 © 2024 我的旅行博客</p>
        </div>
    </div>
</body>
</html>
