{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>梦想之旅</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="header">
        <div class="container">
            <h1>梦想之旅</h1>
            <h2>记录我每天的旅程经历</h2>
        </div>
    </div>
    <div class="nav">
        <div class="container">
            <a href="index.html">首页</a>
            <a href="about.html">关于我</a>
            <a href="contact.html">联系我</a>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="duanluo">
                <div class="text">
                    <p class="note">2023年7月26日</p>
                    <p>我们三个一起出发去恩施大峡谷，毕竟难得来一次，怕以后会后悔，票价200多还是有点心疼。运气呢也不知道说好还是不好，好的话，我刚好拍到了一线天，小伙伴就没拍到，他们到达时
                        景已经全在雾中了。不好的是，时不时来会雨，我鞋子全湿。<br>不得不说，这里景区物价可以，全部明码标价，不会坑你，我在景区的山里买了一碗炸小土豆，才5块钱啊，又好吃又顶饿。
                    </p>
                </div>
                <div class="img" style="display: flex;">
                    <img src="{% static 'picture2/7.26 (2).JPG' %}" alt="出发" style="margin-right: 10px;width:300px;height:auto">
                    <img src="{% static 'picture2/7.26 (3).JPG' %}" alt="出发" style="width:300px;height:auto">
                </div> 
            </div>
            <div class="duanluo">
                <div class="img" style="display: flex;">
                    <img src="{% static 'picture2/7.27 (2).JPG' %}" alt="出发" style="margin-left: 10px;width:200px;height:auto">
                    <img src="{% static 'picture2/7.27 (1).JPG' %}" alt="出发" style="margin-right: 10px;width:auto;height:300px">
                </div>
                <div class="text">
                    <p class="note">2023年7月27日</p>
                    <p>今天与小伙伴分开，我继续出发，打算今天一天回到老家四川达州。打卡G318的1800路牌。
                        正式进入重庆市，万州，本来想去重庆玩玩，打卡下洪崖洞，发现太绕路了就没去。
                        今天的山路都快走吐了，有的地方路窄又人烟稀少，有的转弯大坡必须要一档才能上去。
                    </p>
                </div>
            </div>
            
            <div class="duanluo">
                
                <div class="text">
                    <p>
                        路过重庆铁峰山，打个卡，这山路我喜欢，路宽，车少，进山时还问我有没有带火源。
                        终于在晚上到达宣汉，正是坎坷的一路。
                    </p>
                </div>
                <div class="img">
                    <img src="{% static 'picture2/7.27 (3).JPG' %}" alt="出发" style="width:340px;height:auto">
                    <img src="{% static 'picture2/7.27 (4).JPG' %}" alt="出发" style="width:340px;height:auto">
                </div>
            </div>
            <div class="duanluo">
                <div class="img">
                
                </div>
                <div class="text">
                
                </div>
                
            </div>
            <div class="duanluo">
                <div class="img">
                
                </div>
                <div class="text">
                
                </div>
                
            </div>
            <div class="duanluo">
                <div class="img">
                
                </div>
                <div class="text">
                
                </div>
                
            </div>
            <div class="duanluo">
                <div class="img">
                
                </div>
                <div class="text">
                
                </div>
                
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p>版权所有 © 2024 我的旅行博客</p>
        </div>
    </div>
</body>
</html>
